html, body, div, span, p, a, del, em, img, ol, ul,  fieldset, form, label {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html, body {
    line-height: 1;
    min-height:100%;
    font-family:Artial, Verdana, sans-serif;
}
body {
    background: -webkit-linear-gradient(top, #6fb5f7, #F09393 100%);
    background: -moz-linear-gradient(top, #6fb5f7, #F09393 100%);
    background: -o-linear-gradient(top, #6fb5f7, #F09393 100%);
    background: -ms-linear-gradient(top, #6fb5f7, #F09393 100%);
    background-attachment:fixed;
}
ol, ul {
    list-style: none;
}
p {
    margin:10px 0px 30px 10px;
    text-align:left;
}
q {
    font-style:italic;
    color:#333;
}
h1 {
    font-size:2.91em;
    margin:0;
}
h1 > small {
    text-align:right;
    display:inline-block;
    font-size:.71em;
    text-indent:15em;
    color:#444;
}
h2 {
    color: rgb(41, 44, 121);
    font-size: 1.07em;
    margin: 1em 0 1em 0;
    margin-top: 2% !important;
    line-height: 69px;
}
h2:first-child {
    margin-top:0;
}
h3 {
    color: #333;
    font-size: 1.41em;
    margin: 0em 0;
    margin-left: 0px;
    margin-top: -51px;
}
h4 {
    color:#444;
    font-size:1.11em;
    margin:1em 0;
}
h5{
    text-align: center;
    font-size: 1.2em;
}
h6 {
    text-align: center;
    font-size: 1.0em;
}
#progress {
    height:2%;
    background: rgba(236, 21, 96, 0.38) !important;
    bottom:0;
    z-index:200;
}
#scrollbar {
    position:fixed;
    right:2px;
    height:50px;
    width:6px;
    background:#444;
    background:rgba(0,0,0,0.6);
    border:1px solid rgba(255,255,255,0.6);
    z-index:300;
    border-radius:3px;
}
.skrollr-desktop #scrollbar {
    display:none;
}
#bg1, #bg2, #bg3 {
    z-index:50;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:url(../images/bubbles.png) repeat 0 0;
}
#bg2 {
    z-index:49;
    background-image:url(../images/bubbles2.png);
}
#bg3 {
    z-index:48;
    background-image:url(../images/bubbles3.png);
}
#intro {
    font-family: 'Raleway', sans-serif;
    width: 80%;
    height: 84%;
    left: 50%;
    line-height: 32px;
    top: 1em;
    margin-top: 4%;
    margin-left: -40%;
    padding: 2em;
    background: rgba(255, 255, 255, 0.56);
    text-align: center;
    border-radius: 1em;
    color: #000;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#intro .arrows {
    font-size:2em;
    color:#09f;
    margin-left: 45%;
}
#transform {
    width: 74%;
    left: 48%;
    top: 20%;
    margin-left: -35%;
    text-align: center;
    font-size: 86%;
    color: white;
}
.transform-origin{
(50%,50%);
}
#form {
    z-index: 995;
    width: 70%;
    margin-top: 7%;
}
#properties {
    width:70%;
    height:100%;
    padding-top:10%;
    text-align:center;
    color: white;
    font-size:190%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left:15%;
}
#easing_wrapper {
    width:100%;
    height:100%;
    z-index:51;
}
#easing {
    top:10%;
    width:50%;
    z-index:101;
    color: white !important;
    font-size: 250%;
}
.drop {
    background:#09f;
    font-weight:bold;
    padding:1em;
}
#contact {
    width: 100%;
    left: 0%;
    height: 100%;
    padding: 3em;
    border: 0 solid #222;
    background-image: url("../images/t2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    opacity: 0.8;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: -5%;
    z-index: 111;
}
.twitter-share-button, .twitter-follow-button {
    vertical-align:middle;
}
.teammember {
    width: 27%;
    font-size: 95% !important;
    text-align: left !important;
    float: left;
    margin-left: 6%;
}
.teammembers {
    margin-left: -2%;
    width: 100%;
}
.teamtable {
    width: 100%;
    height: 80%;
    font-size: 1.4em !important;
    line-height: 1.5em;
    margin-top: -3%;
    font-weight: bold;
}
.container{
    width: 100%;
    clear: both;
    text-align: center;
}
.fortable{
    width:82%;
    height:100%;
    font-size: 2.4em !important;
    line-height: 1.5em;
    margin-top: -3%;
    font-weight: bold;
}
.foto {
    width: 70%;
    height: 100%;
}
.logo{
    width:30%;
    height:25%;
    text-align: left;
}
@media screen and (max-width: 450px) {
    .fortable{
        width:82%;
        height:100%;
        font-size: 0.7em !important;
        line-height: 1.5em;
        margin-top: -3%;
        font-weight: bold;
    }
    .logo {
        width: 106%;
        height: 13%;
        text-align: left;
    }
    .foto {
        width: 70%;
        height: 37% !important;
    }



}
@media screen and (max-width: 750px) {
    .fortable{
        width:82%;
        height:100%;
        font-size: 1.0em !important;
        line-height: 1.5em;
        margin-top: -3%;
        font-weight: bold;
    }
    .logo {
        width: 62%;
        height: 15%;
        text-align: left;
    }
    h5 {
        text-align: center;
        font-size: 0.49em !important;
    }
    h2 {
        color: rgb(41, 44, 121);
        font-size: 0.42em !important;
        margin: 1em 0 1em 0;
        margin-top: 2% !important;
        line-height: 69px;
    }
  

}
@media screen and (max-width: 700px) {
    h5{
        text-align: center;
        font-size: 0.4em !important;
    }
    h6 {
        text-align: center;
        font-size: 0.2em !important;
    }
    .foto {
        width: 70%;
        height: 67% !important;
    }


}

@media screen and (max-width: 895px) {
    h5{
        text-align: center;
        font-size: 0.6em;
    }
    h6 {
        text-align: center;
        font-size: 0.7em !important;
    }
    .foto {
        width: 75%;
        height: 70% !important;
    }
    h2 {
        color: rgb(41, 44, 121);
        font-size: 0.81em;
        margin: 1em 0 1em 0;
        margin-top: 2% !important;
        line-height: 69px;
    }
}
@media screen and (max-width: 930px) {
    #contact {
        width: 100%;
        left: 0%;
        height: 100%;
        padding: 3em;
        border: 0 solid #222;
        background-image: url("../images/t2.jpg");
        background-repeat: no-repeat;
        background-size: 300%!important;
        color: white;
        opacity: 0.8;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin-top: -5%;
        z-index: 111;
    }
}
@media screen and (max-width: 1210px) {
    #contact {
        width: 100%;
        left: 0%;
        height: 100%;
        padding: 3em;
        border: 0 solid #222;
        background-image: url("../images/t2.jpg");
        background-repeat: no-repeat;
        background-width: 100%;
        color: white;
        opacity: 0.8;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin-top: -5%;
        z-index: 111;
    }
}
@media screen and (max-width: 1210px) {
    h5{
        text-align: center;
        font-size: 0.8em;
    }
    h6 {
        text-align: center;
        font-size: 0.9em;
    }
    .foto {
        width: 70%;
        height: 67%;
    }


}
@media screen and (max-width: 1250px) {
    .logo {
        width: 62%;
        height: 15%;
        text-align: left;
    }
    p {
        margin: 10px 0px 30px 10px;
        text-align: left;
        font-size: 0.7em;
    }
    .foto {
        width: 75%;
        height: 90%;
    }
    #contact {
        width: 100%;
        left: 0%;
        height: 100%;
        padding: 3em;
        border: 0 solid #222;
        background-image: url("../images/t2.jpg");
        background-repeat: no-repeat;
        background-size: 120%;
        color: white;
        opacity: 0.8;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin-top: -5%;
        z-index: 111;
    }


}
.skils {
    width: 30%;
    height: 60%;
    font-size: 21px !important;
    color: rgb(41, 44, 121);
}
.my {
    width: 30%;
    height: 20%;
    font-size: 100% !important;
    color: rgb(41, 44, 121);
    line-height: 2;
}

.ourphoto{
    width: 30%;
    height: 20%;
}
.contacttext {
    font-size: 4em;
    margin-top: 9%;
}
.center{text-align: center}
